/* common code  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-para {
    margin: 15px 0px;
    font-weight: 400;
    font-size: 15px;
}

/* header section  */

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.header {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
}

.header-img {
    width: 400px;
    margin-top: 30px;
    margin-right: 150px;

}



.header-description {
    margin-left: 150px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 25px;
    font-size: 15px;
    color: white;
    border: 0px;
}

/* header done  */
/* main section  */
.flower-para {
    text-align: center;
    margin-top: 100px;
}

.floewer-header {
    font-weight: 900;
}

.flower-img {
    width: 200px;
}

.flower-img-all {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;

}



.flower-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    width: 200px;
    text-align: center;
}

.img {
    width: 10px;
    height: 200px;
}

.flower-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

    width: 200px;
    text-align: center;
}

.flower-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 10 0px 10px 10px;
    width: 200px;
    text-align: center;
}

.flower-img-all {}



/* hot deal section  */
.hot-deal-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.hot-img {
    width: 200px;
}

.hot-header {
    font-weight: 900;
    font-size: 30px;
}

.instagram-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.hot-banner1 {
    display: flex;
    gap: 10px;
    justify-content: center;

}

/* input section  */
.input-section {
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 70px;
    text-align: center;
    padding-top: 90px;
}

.input-header {
    font-weight: 900;
    font-size: 30px;

}

.email {
    width: 600px;
    border: 0;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 20px;
}